site_name: dingoPDM
site_url: https://corygrant.github.io/dingoPDM/
use_directory_urls: true
theme:
  name: material
  language: en
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
  palette: 
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: grey
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: grey
      accent: lime
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode  
repo_url: https://github.com/corygrant/dingoPDM
repo_name: corygrant/dingoPDM
extra:
  generator: false
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/TFqa92dV
markdown_extensions:
  - admonition
  - tables
  - pymdownx.keys
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg  
  - pymdownx.tasklist:
      custom_checkbox: true   
plugins:
  - glightbox
  - search
nav:
  - Getting Started:
    - Introduction: 'gettingstarted/introduction.md'
  - Hardware:
    - PCB: 'hardware/pcb.md'
    - Connections: 'hardware/connections.md'
    - Case: 'hardware/case.md'
  - Firmware:
    - Introduction: 'firmware/introduction.md'
    - Design: 'firmware/design.md'
    - CAN: 'firmware/can.md'
    - Digital Inputs: 'firmware/digitalinputs.md'
    - Configuration: 'firmware/configuration.md'
    - Variable Mapping: 'firmware/variablemap.md'
    - Sleep: 'firmware/sleep.md'
    - Updating: 'firmware/updating.md'
  - Software:
    - Introduction: 'software/introduction.md'
    - ToolBar: 'software/toolbar.md'
    - DeviceTree: 'software/devicetree.md'
    - MessageList: 'software/messagelist.md'
    - dingoPDM: 'software/dingopdm.md'
    - CANBoard: 'software/canboard.md'
    - CANMsgLog: 'software/msglog.md'
